<mat-paginator [length]="users.length"
               [pageSize]="page_size"
               [pageSizeOptions]="pageSizeOptions"
               (page)="handlePage($event)"
               showFirstLastButtons>
</mat-paginator>
<ng-container *ngIf="users">
  <ul>
    <li *ngFor="let user of users | paginate:page_size:page_number">
      <ul>
        <li *ngFor="let prop of user | keyvalue">
          {{ prop.key }}: {{ prop.value }}
        </li>
      </ul>
      <br />
      <br />
    </li>
  </ul>
</ng-container>
