:host {
  text-align: center;
}

input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-radius: 3px;
  margin: 10px;
  outline: none;
}

b {
  color: #2196f3;
  margin: 20px;
  font-size: 25px;
}

label {
  margin: 10px;
}
