<footer>
  <div class="footer__content">
    <h3>Questions? Call 800 050 702</h3>
    <ul class="footer-links structural">
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"><span>FAQ</span></a>
      </li>
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"><span>Help Center</span></a>
      </li>
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"><span>Terms of Use</span></a>
      </li>
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"><span>Privacy</span></a>
      </li>
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"
          ><span>Cookie Preferences</span></a
        >
      </li>
      <li class="footer-link-item">
        <a class="footer-link" routerLink="/home"
          ><span>Corporate Information</span></a
        >
      </li>
    </ul>
  </div>
</footer>
